<section class="acercade">
  <div class="container-fluid">
  <div class="container-titulo">
    <div class="row">
      <div class="col-9">
        <h5>Acerca de</h5> 
      </div>
      <div class="col-3 text-center">
        <div class="btn-group">
          <button *ngIf="isLogged" type="button" class="btn btn-outline-secondary btn-sm" 
          routerLink="/editar-acercade/{{miPortfolio?.id}}">
          <i class="fa-solid fa-pencil"></i></button>
          </div>
      </div> 
  </div>
</div>
        <div class="row g-0">
        <div class="col-md-4">
          <img [src]="miPortfolio?.imagen" class="img-fluid" alt="foto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">{{miPortfolio?.nombre}} {{miPortfolio?.apellido}}</h4>
            <p>{{miPortfolio?.certificacion}}</p>
            <p class="text-muted">{{miPortfolio?.profesion}}</p>
            <p> <small class="text-muted"><i class="fa-regular fa-envelope"></i>  {{miPortfolio?.correo_electronico}} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-brands fa-whatsapp"></i> {{miPortfolio?.telefono}}</small></p>
          </div>
        </div>
      </div>
    </div>
    </section>
