<section class="acercade">
    <h5>Acerca de</h5>
    <div class="card mb-3" style="max-width: auto;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets\Images\Foto Laura.jpg" class="img-fluid" alt="foto">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h4 class="card-title">{{miPortfolio.nombre}}</h4>
            <p class="card-text">{{miPortfolio.certificacion}}</p>
            <p class="card-text"><small class="text-muted">{{miPortfolio.profesion}}</small></p>
            <p class="card-text"><small class="text-muted">{{miPortfolio.mail}} - {{miPortfolio.telefono}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </section>
