<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div class="formulario">
    <h5>Agregar Proyecto</h5>
    <div class="mb-3">
      <label for="institucion" class="form-label">Institucion</label>
      <input type="text" class="form-control" id="institucion" formControlName="institucion" >
      <div *ngIf="Institucion.errors && Institucion.touched"> 
        <p *ngIf="Institucion.hasError('required')" class="text-danger" role="alert">
          La institucion es requerida
        </p>
      </div>
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="text" class="form-control" id="fecha" formControlName="fecha" >
        <div *ngIf="Fecha.errors && Fecha.touched"> 
          <p *ngIf="Fecha.hasError('required')" class="text-danger" role="alert">
            La fecha es requerida
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre" >
        <div *ngIf="Nombre.errors && Nombre.touched"> 
          <p *ngIf="Nombre.hasError('required')" class="text-danger" role="alert">
           El nombre es requerido
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input type="text" class="form-control" placeholder="Ingrese la url de la imagen" id="imagen" formControlName="nombre" >
        <div *ngIf="Imagen.errors && Imagen.touched"> 
          <p *ngIf="Imagen.hasError('required')" class="text-danger" role="alert">
           La imagen es requerida
          </p>
        </div>
      </div>
    <button type="submit" class="btn btn-secondary">Agregar</button>
    </div>
  </form>

