  <section class="experiencia">
    <div class="container-titulo">
      <div class="row">
        <div class="col-9">
          <h5>Experiencia</h5> 
        </div>
        <div class="col-3 text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/experiencias/crear">Nueva Experiencia</button>
            <!-- *ngIf="isLogged" falta agregar en el boton de agregar-->
            </div>
        </div> 
    </div>
  </div>
    <div class="container text-center">
      <div class="row" *ngFor="let Experiencia of expe">
        <div class="col-2">
        <p small class="text-muted">{{Experiencia.fecha_inicio}} {{Experiencia.fecha_fin}}</p>
        </div>
       <div class="col-4">
          <p small class="text-muted">{{Experiencia.empresa}}</p>
        </div>
        <div class="col-4">
          <p small class="text-muted">{{Experiencia.puesto}}</p>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/editar-experiencia/{{Experiencia.id}}"><i class="fa-solid fa-pencil"></i></button>
          <button type="submit" class="btn btn-outline-secondary btn-sm"(click)="borrar(Experiencia.id)"><i class="fa-solid fa-trash"></i></button>
          <!-- *ngIf="isLogged" falta agregar en el boton de agregar-->
        </div>
      </div>
    </div>
    </section>
