<section class="experiencia" id="experiencia">
  <div class="container-fluid">
  <div class="container-titulo">
    <div class="row" >
      <div class="col-9">
        <h5>Experiencia</h5> 
      </div>
      <div class="col-3 text-center">
        <div class="btn-group" *ngIf="isLogged">
          <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/experiencias/crear">Nueva Experiencia</button>
          </div>
      </div> 
  </div>
</div>

<div class="row" *ngFor="let Experiencia of expe">
  <div class="col-1"></div>
<div class="col-9">

  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="Experiencia.imagen" class="img-fluid" alt="logo">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h6 class="card-title">{{Experiencia.empresa}}</h6>
        <p>{{Experiencia.puesto}}</p>
        <p class="text-muted">{{Experiencia.fecha_inicio}} - {{Experiencia.fecha_fin}}</p>
      </div>
    </div>
  </div>

</div>

<div class="col-2" *ngIf="isLogged">
  <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/editar-experiencia/{{Experiencia.id}}"><i class="fa-solid fa-pencil"></i></button>
  <button type="submit" class="btn btn-outline-secondary btn-sm"(click)="borrar(Experiencia.id)"><i class="fa-solid fa-trash"></i></button>
</div>
</div>
  </div>
  <a class="nav-link" href="#header">Volver</a>
  </section>
 