<form class="formulario" [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
  <h3>Iniciar sesión</h3>
  <div class="mb-3">
    <label for="nombreUsuario" class="form-label"></label>
    <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario"
      aria-describedby="Usuario" required [(ngModel)]="nombreUsuario" placeholder="Usuario"
      [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched, 'is-valid': !Nombre.errors && Nombre.touched}">
    <div *ngIf="Nombre.errors && Nombre.touched">
      <p *ngIf="Nombre.hasError('required')" class="text-danger">
        El usuario es requerido.
      </p>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"></label>
    <input type="password" class="form-control" id="password" formControlName="password" required [(ngModel)]="password"
      placeholder="Password"
      [ngClass]="{'is-invalid': Password.errors && Password.touched, 'is-valid': !Password.errors && Password.touched}">
    <div *ngIf="Password.errors && Password.touched">
      <p *ngIf="Password.hasError('required')" class="text-danger">
        La contraseña es requerida.
      </p>
    </div>
  </div>
  <button class="btn btn-secondary" type="submit">Ingresar</button>
</form>