<section class="proyecto" id="proyectos">
   <div class="container-fluid">
  <div class="container-titulo">
    <div class="row">
      <div class="col-9">
        <h5>Proyectos</h5> 
      </div>
      <div class="col-3 text-center">
        <div class="btn-group" *ngIf="isLogged">
          <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/proyectos/crear">Nuevo proyecto</button>
          </div>
      </div> 
  </div>
</div>
<div class="row" *ngFor="let Proyecto of proye">
  <div class="col-1"></div>
<div class="col-9">

  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="Proyecto.imagen" class="img-fluid" alt="logo">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h6 class="card-title">{{Proyecto.institucion}}</h6>
        <p>{{Proyecto.nombre}}</p>
        <p class="text-muted">{{Proyecto.fecha}} </p>
      </div>
    </div>
  </div>

</div>

<div class="col-2" *ngIf="isLogged">
  <button type="button" class="btn btn-outline-secondary btn-sm" routerLink="/editar-proyectos/{{Proyecto.id}}"><i class="fa-solid fa-pencil"></i></button>
  <button type="submit" class="btn btn-outline-secondary btn-sm"(click)="borrar(Proyecto.id)"><i class="fa-solid fa-trash"></i></button>
</div>
</div>
  </div>
  </section>