*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.list-group-item {
    color: rgb(71, 69, 69);
    float: right;
    border: none;
    background-color: transparent;
    }

section.banner{
    background-image: url(assets\/Images/banner.jpg);
    max-width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.logo{
    width: 15%;
    height: 20%;
    filter: invert(60%);
}

.img-fluid{
    border-radius: 50%;
    width: 40%;
    margin: 2%;
    margin-left: 30%;
}
.col-5,.col-6{
    padding: 5%;
    text-align: center; 
}

h1, h2, h3, h5{
    color:rgb(71, 69, 69);
    margin-top: 1%;
    margin-left: 5%;
}

p{
    text-align: justify;
    display: flex;
    align-items: center;
}

.list-group{
    margin-left: 15%;
}

.logoexperiencia{
    width: 10%;
    height: 10%;
    float: left;
    background-color: transparent;
    margin-right: 5%;
    margin-bottom: 2%;
}
.logoeducacion{
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: -5%;
}

.logoidiomas{
    width: 30%;
    height: 40%;
    float: left;
    margin-right: 5%;
    margin-bottom: 2%;
}

.containerhard{
    text-align: center;
    margin: 30px;
}
.containersoft{
    text-align: center;
    margin: 30px;
}

.fotoportfolio{
    width: 250px;
    height: 150px;
    display: block;
    margin-left: 170px;
    border: solid;
    border-color: grey;
    border-width: 0.2px;
}

.textofooter{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}