<section class="hard & soft skills">
    <h5>Hard & Soft Skills</h5>
    <div class="containerhard">
      <div class="row row-cols-6 row-cols-md- g-">
        <div class="col" *ngFor="let skill of skillsLista">
          <div class="card">
            <i class="fa-brands {{skill.icono}} fa-2x"></i>
            <div class="card-body">
              <h5 class="card-title">{{skill.nombre}}</h5>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;"
                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{skill.porcentaje}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
