section.banner{
    background-image: url(src/assets/Images/banner.jpg);
    max-width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.logo{
    filter: invert(60%);
}