<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div class="formulario">
    <h5>Acerca de</h5>
    <div class="mb-3">
      <label for="id" class="form-label"></label>
      <input type="hidden" class="form-control" id="id">
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre">
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="apellido">
    </div>
    <div class="mb-3">
        <label for="certificacion" class="form-label">Certificación</label>
        <input type="text" class="form-control" id="certificacion">
      </div>
      <div class="mb-3">
        <label for="profesion" class="form-label">Profesión</label>
        <input type="text" class="form-control" id="profesion">
      </div>
      <div class="mb-3">
        <label for="correo_electronico" class="form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="correo_electronico">
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefono">
      </div>
    <button type="submit" class="btn btn-secondary">Guardar</button>
  </div>
  </form>
