<section class="educacion">
  <div class="row">
    <div class="col-3">
      <h5>Educación</h5> 
    </div>
    <div class="col-3 justify-content-end">
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-plus"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-pencil"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-trash"></i></button>
      </div>
    </div> 
  </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let educacion of educacionLista"> 
        <p>{{educacion.institucion}}</p> 
        <small>{{educacion.fecha}}: {{educacion.titulo}}</small>
      </li>
    </ul>
  </section>
